<div class="dashboard-layout">
  
  <!-- COMPONENTE HEADER: Reemplazar con tu etiqueta, ej: <app-main-header /> -->
  <header class="placeholder-header">
    Componente del header
  </header>

  <div class="dashboard-body">
    
    <!-- Sidebar Izquierdo -->
    <aside class="sidebar">
    </aside>

    <!-- Contenido Central -->
    <main class="main-content">
      <div class="status-bar">
        <span>Jueves, 24 de Octubre - Turno Mañana (07:15 AM)</span>
        <span class="active-badge">CENTRO DE CONTROL ACTIVO</span>
      </div>

      <div class="card route-card">
        <h2>Ruta #04 - Zona Norte / Colegio San José</h2>
        <div class="route-metrics">
          <span>Distancia: 14.2 km</span>
          <span>Est. Llegada: 07:55 AM</span>
        </div>
      </div>

      <div class="placeholder-map">
            <app-mapa 
              [rol]="'chofer'" 
              [rutaDefinida]="rutaRutaAsignada"
              (cambioUbicacion)="enviarUbicacionAlServidor($event)">
            </app-mapa>
      </div>
    </main>

    <!-- Panel Derecho (Operaciones y Asistencia) -->
    <aside class="right-panel">
      
      <!-- Flujo de Control -->
      <div class="card flow-control">
        <h3>Panel de control</h3>
        <p>Ruta de ida</p>
        <button class="btn btn-primary">Tomar Asistencia</button>
        <button class="btn btn-secondary">Iniciar Ruta</button>
      </div>

      <div class="card flow-control">
        <p>Ruta de vuelta</p>
        <button class="btn btn-primary">Tomar Asistencia vuelta</button>
        <button class="btn btn-secundary">Iniciar Ruta vuelta</button>
      </div>
      
      <div class="card flow-control">
        <p>Sección de Incidentes</p>
        <button
          class="btn btn-primary"
          (click)="mostrarModalReporte = true"
        >
          Crear Reporte
        </button>
      </div>

      <div class="card flow-control">
        <p>Flujo de Ruta</p>
        <h3>Estado de Flota Escolar Asignada</h3>
          <div class="fleet-cards">
            <div class="fleet-card">Bus #12 - En Servicio</div>
            <div class="fleet-card">Bus #05 - En Ruta</div>
            <div class="fleet-card">Bus #08 - En Espera</div>
          </div>
      </div>
    </aside>

  </div> 

  @if (mostrarModalReporte) {

    <!-- Fondo oscuro -->
    <div class="modal-overlay">

      <!-- Modal -->
      <div class="modal-reporte">

        <!-- Encabezado -->
        <div class="modal-header">

          <div>
            <h2>Crear Reporte</h2>

            <p>
              Registra un incidente o situación ocurrida durante la ruta.
            </p>
          </div>

          <button
            class="btn-cerrar"
            type="button"
            (click)="cerrarModalReporte()"
          >
            ×
          </button>

        </div>


        <!-- Formulario -->
        <form
          [formGroup]="reporteForm"
          (ngSubmit)="crearReporte()"
        >

          <div class="form-container">

            <!-- Título -->
            <div class="form-group">

              <label for="titulo">
                Título del reporte
              </label>

              <input
                id="titulo"
                type="text"
                formControlName="titulo"
                maxlength="40"
                placeholder="Ej. Retraso en la ruta"
              >

              <div class="contador">
                {{ reporteForm.get('titulo')?.value?.length || 0 }}/40
              </div>

              @if (
                reporteForm.get('titulo')?.invalid &&
                reporteForm.get('titulo')?.touched
              ) {
                <span class="error">
                  El título es obligatorio.
                </span>
              }

            </div>


            <!-- Descripción -->
            <div class="form-group">

              <label for="descripcion">
                Descripción
              </label>

              <textarea
                id="descripcion"
                formControlName="descripcion"
                rows="6"
                placeholder="Describe detalladamente lo ocurrido..."
              ></textarea>

            </div>

          </div>


          <!-- Botones -->
          <div class="modal-actions">

            <button
              type="button"
              class="btn-cancelar"
              (click)="cerrarModalReporte()"
            >
              Cancelar
            </button>

            <button
              type="submit"
              class="btn-crear"
              [disabled]="reporteForm.invalid"
            >
              Crear reporte
            </button>

          </div>

        </form>

      </div>

    </div>

  }

</div>